# IDE
.idea/
.project/
nbproject/
.buildpath/
.settings/
*.sublime-*

# OS
.DS_Store
*.AppleDouble
*.AppleDB
*.AppleDesktop

# grunt stuff
.grunt
.sass-cache
/node_modules/

# tooling
vendor/
!tests/_data/project_mock/vendor/
!tests/_data/project_mock/composer.lock
!tests/_data/composer/composer.lock
.phpunit.result.cache

# tests
phpunit.xml
tests/**/_generated/
tests/_output/*
!tests/_output/.gitkeep
tests/tmp

# resources
data/
