parameters:
    level: 7
    paths:
        - src/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Access to an undefined property PhpParser\\Node::\$(?:name|items|stmts)#'
        - '#Call to an undefined method [a-zA-Z0-9\|\\_]+::toString\(\)#'

