name: CI

on:
    pull_request:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
    validation:
        runs-on: ubuntu-20.04
        strategy:
            fail-fast: false
            matrix:
                php-version: [
                        '7.4',
                        '8.2',
                ]
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: mbstring, intl, pdo_mysql

            - name: Validate composer.json and composer.lock
              run: composer validate

            - name: Get Composer Cache Directory
              id: composer-cache
              run: |
                  echo "::set-output name=dir::$(composer config cache-files-dir)"

            - name: Composer cache
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: ${{ runner.os }}-composer-

            - name: Composer install
              run: composer install --prefer-dist --no-interaction --optimize-autoloader

            - name: Check PHP for syntax errors
              run: find ./src -path src -prune -o -type f -name '*.php' -print0 | xargs -0 -n1 -P4 php -l -n | (! grep -v "No syntax errors detected" )

            - name: PHPStan checks
              run: composer stan

    cs-check:
        runs-on: ubuntu-20.04
        strategy:
            fail-fast: false
            matrix:
                php-version: [
                    '7.4',
                    '8.2',
                ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    extensions: mbstring, intl, pdo_mysql

            -   name: Get Composer Cache Directory
                id: composer-cache
                run: |
                    echo "::set-output name=dir::$(composer config cache-files-dir)"

            -   name: Composer cache
                uses: actions/cache@v2
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: ${{ runner.os }}-composer-

            -   name: Composer install
                run: composer install --prefer-dist --no-interaction --optimize-autoloader

            -   name: CodeStyle checks
                run: composer cs-check

    prefer-lowest:
        runs-on: ubuntu-20.04
        strategy:
            fail-fast: false
            matrix:
                php-version: [
                    '7.4'
                ]

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: mbstring, intl, pdo_mysql

            - name: Get Composer Cache Directory
              id: composer-cache
              run: |
                  echo "::set-output name=dir::$(composer config cache-files-dir)"

            - name: Composer cache
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: ${{ runner.os }}-composer-

            - name: Composer require spryker-sdk/composer-prefer-lowest package
              run: composer require --dev spryker-sdk/composer-prefer-lowest

            - name: Composer prefer-lowest
              run: composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable -o

            - name: Check PHP for syntax errors
              run: find ./src -path src -prune -o -type f -name '*.php' -print0 | xargs -0 -n1 -P4 php -l -n | (! grep -v "No syntax errors detected" )

            - name: Validate prefer lowest
              run: vendor/bin/validate-prefer-lowest -m

    tests:
        runs-on: ubuntu-20.04
        strategy:
            fail-fast: false
            matrix:
                php-version: [
                        '7.4',
                        '8.2',
                ]
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php-version }}
                extensions: mbstring, intl, pdo_mysql

            - name: Validate composer.json and composer.lock
              run: composer validate

            - name: Get Composer Cache Directory
              id: composer-cache
              run: |
                echo "::set-output name=dir::$(composer config cache-files-dir)"

            - name: Composer cache
              uses: actions/cache@v2
              with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                restore-keys: ${{ runner.os }}-composer-

            - name: Composer install
              run: composer install --prefer-dist --no-interaction --optimize-autoloader

            - name: Run tests
              run: |
                  if [[ ${{ matrix.php-version }} == '7.4' ]]; then
                   XDEBUG_MODE=coverage vendor/bin/phpunit --coverage-clover coverage.xml
                  else
                   composer test
                  fi

            - name: Code Coverage Report
              if: success() && matrix.php-version == '7.4'
              uses: codecov/codecov-action@v1
